<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWt_pKx9Q_X2ls6HgladPYXOJyRXfyWYk</string>
	<key>GCM_SENDER_ID</key>
	<string>850692520138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kalyan.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-11d6b</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-11d6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850692520138:ios:516666ec4733d014dd9c33</string>
</dict>
</plist>